.header {
  max-height: 720px;
  min-height: 800px;
  background-color: #fff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__title {
  max-width: 709px;
  padding-left: 80px;
  padding-top: 183px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header-span {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  display: block;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 80px;
  padding-top: 28px;
  max-width: 683px;
  margin: 0;
}

.header__image {
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  position: absolute;
}

.header__footer {
  justify-content: space-between;
  padding-left: 80px;
  padding-bottom: 40px;
  margin-top: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
}

.header__footer p:last-child {
  margin-left: auto;
  margin-right: 80px;
  margin-bottom: 40px;
}
