.page {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  font-family: "Inter", Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/background_header.svg);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-left: 30px;
  margin-top: 30px;
  width: 105px;
  height: 39px;
  display: flex;
  position: relative;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  margin-top: 30px;
  gap: 20px;
  margin-right: 80px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-left: 80px;
  margin-top: 183px;
  max-width: 709px;
}

.span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  display: block;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 28px;
  max-width: 683px;
}

.header__image {
  width: 646px;
  height: 568px;
  margin-top: 124px;
  margin-left: 5px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-left: 40px;
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__footer-list {
  list-style-type: none;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-right: 80px;
}

.receitas {
  background-color: #0a2850;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/background_recipes.svg);
}

.receitas__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 80px;
  max-width: 580px;
  margin-top: 100px;
}

.receitas__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 24px;
  max-width: 438px;
}

.receitas__video {
  display: flex;
  justify-content: center;
}

.receitas__video-item {
  margin-top: 80px;
  margin-bottom: 215px;
}

.receitas__iframe {
  display: flex;

  height: 273px;
  gap: 40px;
}

.receitas__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
